# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\develop\IDEAProjects\2022211001000404GaoWenyang\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
